@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@theme {
  /* สีหลัก Nexus Gear */
  --color-primary: #ff0000;
  --color-primary-dark: #cc0000;
  --color-dark-bg: #0a0a0a;
  --color-dark-card: #141414;
}

@layer base {
  body {
    /* 1. เธีมมืด HEAD */
    background-color: var(--color-dark-bg);
    color: white;
    font-family: 'Inter', system-ui, sans-serif;

    /*  Layout feature/register */
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;

  }
}