# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables (ห้ามหลุดขึ้น Git เด็ดขาด)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db